body {
	font-family: 'Source Sans Pro', sans-serif;
}

.Topo {
	/*font-size: 28px;*/
	position: fixed;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #d5d5d5;
}

span {
	color: blue;
}

